/target
/src/state/working_files
/.vscode
/qemu_log.txt
/scripts/__pycache__
/results/ghidra-project/
/results/execution_log.txt
/results/execution_trace.txt
/results/jump_tables.json
/results/xref_addresses.txt
/results/function_signature.json
/results/initialization_data/*
/results/function_signature_arg_types.json
/results/function_signature_arg_registers.json
/tests/programs/broken-calculator/broken-calculator-tinygo_ghidra
/tests/programs/broken-calculator/broken-calculator-tinygo
/tests/programs/crashme/crashme_ghidra
/tests/programs/broken-calculator-complex/broken-calculator-complex
/results/function_signatures_go.json
/results/FOUND_SAT_STATE.txt
/results/FOUND_SAT_STATE_panic.txt
/results/execution_log_normal.txt
/results/execution_log_panic.txt
/results/execution_log_error.txt
results/execution_trace_runtime-mcommoninit.txt
/results/panic_reachable.txt
/results/panic_coverage.json
/results/tainted_functions.txt
/results/unreachable_summary.txt
/results/unreachable_summary.json
/results/execution_log_main-main.txt
/doc/Go-Scheduler-Concolic.md
/doc/Thread-Scheduling.md
/results/execution_trace_geth.txt
/results/execution_trace_rlpdump_main.txt
/fuzzer_results
/results/runtime_g_offsets.json